body {
    background-image: url('https://assets.epuzzle.info/puzzle/072/189/original.jpg'); /* Reemplaza con el enlace directo de tu imagen */
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
}
